# App Public URL (Set to https://tawakalbbq.com in Production for Sitemap & OpenGraph Tags)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Business WhatsApp Number used for order & reservation click-to-chat (wa.me)
NEXT_PUBLIC_WHATSAPP_ADMIN_NUMBER="923485650906"
